<table>
	<tbody id='toolbar-table'>
	<tr>
	<td><%= link_to 'User Index', users_path %></td>
	</tr>
	<tr>
	<td><%= link_to 'Log index', log_index_path %></td>
	</tr>
	<tr>
	<td><%= link_to 'Timer Utility', timesheets_path %></td>
	</tr>
	<tr>
	<td>Market Watcher</td>
	</tr>
	<tr>
	<td>Forum</td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	<tr>
	<td>_</td>
	</tr>
	</tbody>
</table>
