<table>
	<tbody id='toolbar-table'>
	<tr class='toolbar-table'>
	<td><%= link_to 'User Index', users_path %></td>
	</tr>
	<tr class='toolbar-table' id='table-even'>
	<td>Links</td>
	</tr>
	<tr class='toolbar-table'>
	<td>Links</td>
	</tr>
	<tr class='toolbar-table'  id='table-even'>
	<td>Links</td>
	</tr>
	</tbody>
</table>