body {
	min-width: 1024px !important;
}


table tbody td {
	padding-left: 5px;
}

table tbody tr:nth-child(even)  {
	background-color: #f1f1f1;
}

.hidden {
	visibility: hidden;
	display: none;
}

.row {
	max-width: 5000px !important;
}

.masthead {
	background-color: #333;
	height: 60px;
	/*position: fixed;*/
}

.masthead-buffer {
	/*height: 60px;*/
}

#toolbar {
	background-color: #666;
	margin-right: 5px;
	border-right: 3px solid #222;
	padding: 0px;
	width: 230px;
	min-height: 500px;
}

#toolbar-switch-anchor {
	height: 60px;
	padding: 10px;
}

#toolbar-switch {
	width: 40px;
	height: 40px;
	background-image: url(tool-toggle.png);
	background-size: 40px 40px;
}

#validate {
	margin: 10px;
}

.content {
	/*position: ;*/
	width: 1500px;
}

#toolbar-table {
	border: 0px solid black;
	background-color: #666;
}

#toolbar-table tr:nth-child(even) {background: #444 !important}
#toolbar-table tr:nth-child(odd) {background: #666 !important}

.inactive {
	background-color: #666 !important;
}

.index_entry {
	border: 1px solid #bbb;
	font-size: 12px;
	margin: 0 auto;
	white-space: nowrap;
}

.log_id {
	white-space: pre; 
}

.badge {
	margin: 1px;
}

.gauge {
	width: 100px;
	/*background-color: #EEE*/
}

.field {
	margin-left: 15px;
}

.API_border{
	border-style: solid;
	border-width: 5px;
	border-color: rgba(63, 89, 191, 0.5);
	border-radius: 15px;
	margin-bottom: 25px;
	padding: 10px;
	background-color: rgba(63, 89, 191, 0.1)
}

.warning_border {
	border-style: solid;
	border-width: 5px;
	border-color: rgba(193, 66, 66, 0.5);
	border-radius: 15px;
	margin-bottom: 25px;
	padding: 10px;
	background-color: rgba(193, 66, 66, 0.1);
}

.password_border {
	border-style: solid;
	border-width: 5px;
	border-color: rgba(63, 191, 70, 0.5);
	border-radius: 15px;
	margin-bottom: 25px;
	padding: 10px;
	background-color: rgba(63, 191, 70, 0.1);
}

#event_time select {
	width: 10%;
}

.notice {
	margin: 15px;
}
