body {
	min-width: 1024px !important;
}


table tbody td {
	padding-left: 5px;
}

table tbody tr:nth-child(even)  {
	background-color: #f1f1f1;
}

.hidden {
	visibility: hidden;
	display: none;
}

.row {
	max-width: 5000px !important;
}

.masthead {
	background-color: #333;
	height: 60px;
	/*position: fixed;*/
}

.masthead-buffer {
	/*height: 60px;*/
}

#toolbar {
	background-color: #666;
	margin-right: 5px;
	border-right: 3px solid #222;
	padding: 0px;
	width: 230px;
}

#toolbar-switch-anchor {
	height: 60px;
	padding: 10px;
}

#toolbar-switch {
	width: 40px;
	height: 40px;
	background-image: url(tool-toggle.png);
	background-size: 40px 40px;
}

.content {
	/*position: ;*/
}

.toolbar-table {
	background-color: #666;
}

#toolbar-table {
	border: 0px solid black;
}

#table-even {
	background-color: #444;
}

.inactive {
	background-color: #666 !important;
}

.index_entry {
	border: 1px solid #bbb;
	font-size: 14px;
	margin: 0 auto;
}

.badge {
	margin: 1px;
}

